body {
  --primary: #f0ad4e;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
  margin-top: 100px;
  background-color: #444444;
  color:#ddd;
}
.small {
  font-size: 16px;
}
.row{
  margin:0;
}
.container{
  background: #222222;
  overflow: hidden;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: var(--primary);
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #222;
  text-align: center;
  border-bottom: #333 1px solid;
  box-shadow: rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  z-index: 10;
}
header h3 {
  margin-top: 12px;
  color: var(--primary);
}
header nav ul {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 991px) {
  header nav ul {
    margin-top: 1.1em;
    text-align: right;
  }
}
header nav ul li {
  display: inline-block !important;
  line-height: 1.5;
  padding: 0.4em;
}
header nav ul li a {
  color: #dddddd;
  padding: 0 !important;
}
header nav ul li a:hover {
  color: var(--primary);
  background-color: #222 !important;
}
header nav ul li.active {
  border-bottom: var(--primary) 2px solid;
}
footer{
  background-color: #222222;
}
section {
  font-size: 18px;
  margin-top: 20px;
}
section .container {
  margin-bottom: 1em;
  padding-bottom: 15px;
  box-shadow: rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
section .container .title {
  border-bottom: #444444 2px solid;
  margin-bottom: 1em;
}
section#about .img-me {
  border-radius: 50%;
  height: 250px;
  padding-bottom: 1em;
  margin: 0 auto;
  display: block;
}
section.colour_coded {
  font-size: 20px;
}
section.colour_coded .item {
  margin-top: 20px;
  margin-bottom: -20px;
}
section.colour_coded h2 {
  display: inline-block;
  margin-right: 15px;
}
section.colour_coded small {
  margin: 0 10px 10px 0;
  color: #BBBBBB;
}
section.colour_coded .key {
  display: inline;
  font-size: 0.70em;
  font-weight: 700;
  padding-top: 10px;
}
section.colour_coded .orange {
  border-top: 3px #f0ad4e solid;
}
section.colour_coded .blue {
  border-top: 3px #5bc0de solid;
}
section.colour_coded .red {
  border-top: 3px #d9534f solid;
}
section.colour_coded .green {
  border-top: 3px #5cb85c solid;
}
section.colour_coded .dark-blue {
  border-top: 3px #9855d4 solid;
}
section.colour_coded .gray {
  border-top: 3px #333333 solid;
}
section.colour_coded .mini {
  font-size: 0.7em;
}
section.colour_coded span {
  width: 100%;
  display: block;
  margin-top: -20px;
  background-color: #222222;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 20px;
}
section.colour_coded span a {
  color: var(--primary);
}
section.colour_coded span.date, section.colour_coded span.level {
  font-size: 0.6em;
  color: #dddddd;
}
section#portfolio .container {
  padding-bottom: 5px;
}
section#portfolio .gallery{
  padding-top: 10px;
}
section#portfolio .portfolio-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 25px;
}
section#portfolio .portfolio-item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #333333;
  color: #aaaaaa;
}
section#portfolio .portfolio-item .overlay h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
section#portfolio .portfolio-item img {
  display: block;
  position: relative;
  width: 100%;
  height: 201px;
}
section#portfolio .portfolio-item:hover .overlay {
  opacity: 0;
  z-index: -10;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.social {
  text-align: center;
  font-size: 40px;
  list-style: none;
  color: #ddd;
  margin: 20px 10px;
}

.social .btn-social:hover {
  color: var(--primary);
}
.orange-font{
  color: var(--primary);
}
.portfolio-modal {
  margin: 5em;
}
.portfolio-modal img {
  max-width: 100%;
  max-height: 500px;
}
.portfolio-modal .close-btn h1 {
  float: right;
  margin-right: 1em;
  cursor: pointer;
}
.modal-content {
  background: #444;
}
.modal-content .container {
  background: #444;
}

.img-centered {
  margin: 15px auto;
}

footer {
  border-top: #444444 1px solid;
  box-shadow: rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  padding: 20px;
}

footer h4 {
  line-height: 1.8em;

}
.light {
  font-weight: lighter;
  font-size: 0.8em;
}


@media (max-width: 768px) {
  body {
    margin-top: 75px;
  }
  section .container {
    margin-bottom: 0em;
    padding-top: 1em;
    border-bottom: #bbbbbb 2px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  section {
    margin-top: 0em;
  }
  section.colour_coded h2 {
    margin-top:5px;
    margin-bottom:10px;
  }
  section.colour_coded .key {
    font-size:0.7em;
    margin:0;
  }
  footer {
    border-top: 0;
  }
}

@media (max-width: 564px) {
  body {
    margin-top: 105px;
  }
}

@media (max-width: 320px) {
  body {
    margin-top: 130px;
  }
}