body {
  --primary: #ee843e;
  --secondary: #222222;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #444444;
  color: #ddd;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
.small {
  font-size: 16px;
}
.row {
  margin: 0;
}
.container {
  background: var(--secondary);
  overflow: hidden;
}
a,
.fake-link,
a:hover,
a:focus,
a:active,
a.active {
  color: var(--primary);
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
p {
  line-height: 1.8em;
}

header * {
  font-family: "source-code-pro", monospace;
  font-weight: 900;
}

header {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--secondary);
  text-align: center;
  border-bottom: var(--primary) 4px solid;
  box-shadow:
    rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  z-index: 100;
}

header #header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 1200px;
}
header #logo {
  align-items: center;
  line-height: 1.5em;
}

header #logo .backet {
  line-height: 1.3em;
}

header #contact {
  margin-left: auto;
}
#contact ul {
  list-style: none;
}
#contact li {
  display: inline;
}
.bracket h1 {
  font-family: "source-code-pro", monospace;
  font-weight: 900;
  font-size: 5em;
  padding: 0 5px;
  font-weight: 600;
  margin: -5px 0 0;
  line-height: 0.9em;
}
#logo {
  display: flex;
  justify-content: flex-start;
}
#logo h3 {
  color: var(--primary);
  font-size: 26px;
}

container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  flex: 1;
}
content {
  display: flex;
  flex-direction: row;
  gap: 20px 20px;
  max-width: 1200px;
  padding: 0 20px;
}
section {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 1em;
  padding: 10px 25px;
  box-shadow:
    rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  border-radius: 10px;
  /*border: 4px solid var(--primary); */
  background-color: var(--secondary);
}

section#about {
  flex-shrink: 6;
}

section#experience {
  flex-shrink: 1;
}

@media screen and (max-width: 900px) {
  content {
    flex-wrap: wrap;
  }
  section#about {
    width: 100%;
    max-width: 100%;
    margin: 10px 0 0;
  }
  section#experience {
    width: 100%;
    margin: 10px 0 20px;
  }
}

section h2,
section h3 {
}

footer {
  background-color: var(--secondary);
  border-top: var(--primary) 4px solid;
  box-shadow:
    rgba(50, 50, 93, 0.0980392) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.0666667) 0px 5px 15px 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#about .img-me {
  float: right;
  border-radius: 50%;
  height: 250px;
  padding: 0;
  margin: 0 10px 20px 30px;
  display: block;
}

section .experience-container {
  margin-top: 7px;
}
section .experience-container {
}
section .experience-container .item {
  min-height: 2em;
  display: grid;
  align-items: center;
  grid-template-columns: 10px 30px auto;
  margin: 0 0 20px;
  background-color: var(--secondary);
  padding: 2px 0;
}
section .experience-container .item p {
  line-height: 1em;
  margin: 0;
}
section .experience-container .item .icon-container {
  text-align: center;
}
section .experience-container .item a {
}
section .experience-container .item .orange-tick {
  border: 1px var(--primary) solid;
  margin: -2.2em 0 0;
  grid-row: 1 / span 3;
}
.social {
  text-align: right;
  font-size: 32px;
  list-style: none;
  color: #ddd;
  margin: 16px 10px;
}
.social .btn-social:hover {
  color: var(--primary);
}
.orange-font {
  color: var(--primary);
}
.img-centered {
  margin: 15px auto;
}
